<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Введите начальный и конечный пункты маршрута</h1>
<form action="/weather/route" method="POST">
    <label for="start">Начальный пункт:</label>
    <input type="text" id="start" name="start" required>
    <br>
    <label for="end">Конечный пункт:   </label>
    <input type="text" id="end" name="end" required>
    <br>
    <button type="submit">Получить прогноз погоды</button>
</form>
</body>
</html>